<% player = locals[:player] %>
<div class="player">
  <div class="name"><%= player.name %></div>
  <div class="health"><%= player.health %></div>
</div>
<style>
  .player{
    background-color:#CCC;
    width:120px;
    height:100px;
    border:1px solid black;
    border-radius: 15px;
    display:inline-block;  
  }

  .player .name{
      background-color:#black;
      top:0px;
      border-bottom:1px solid black;
      text-align:center;
      font-weight:bold;
  }
  .player .health{
      color:green;
      font-size:55px;
      top:0px;
      border-bottom:1px solid black;
      text-align:center;
      font-weight:bold;
  }
</style>
