<% turn = locals[:turn] %>
  <img src="<%= me.world.playing_player ==  me ? 'me.png' : me.world.playing_player.img %>" height="30"/>
  <%= me.world.playing_player.name %>
  <hr>
  <ul class="phase">
  <% @world.turn.phases.each do |phase| %>
    <li class="<%= 'selected' if phase == turn.phase %>" ><%= phase %></li>
  <% end %>
  </ul>
