<% turn = locals[:turn] %>
  <%= me.world.playing_player.name %>
  <hr>
  <ul class="phase">
  <% @world.turn.phases.each do |phase| %>
    <li class="<%= 'selected' if phase == turn.phase %>" ><%= phase %></li>
  <% end %>
  </ul>
