<h3>1- Search for a card</h3>
<form action="/card_importer" method="GET">
  <input type="text" value="<%= params[:name]%>" name="name"/>
</form>


<h3>2- select a card</h3>
<ul>
    <% @cards.each do |card| %>
      <a href="<%= "/import/#{card['id']}"%>">
        <img src="http://api.mtgdb.info/content/card_images/<%= card['id'] %>.jpeg" height="500"/>
      </a>
    <% end %>
</ul>

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/card_importer">Random Card</a></li>
  <li><a href="/cards">View all cards</a></li>
</ul>
