
  .animate{
    -webkit-animation-duration:0.8s;
    -webkit-animation-delay:0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    z-index:50000!important;
  }

  .animate.play{
    -webkit-animation-name:play;
  }

  #opponent_playground .animate.play{
    -webkit-animation-name:opponent-play;
  }


  .animate.tap{
    -webkit-animation-duration:0.4s;
    -webkit-animation-name:tap;
  }

  .animate.untap{
    -webkit-animation-duration:0.4s;
    -webkit-animation-name:untap;
  }

  .animate.attack{
    -webkit-animation-duration:0.4s;
    -webkit-animation-name:attack;
  }
  .tapped.attack{
    -webkit-animation-duration:0.8s;
    -webkit-animation-name:tap-attack;
  }

  #opponent_playground .animate.tapped.attack{
    -webkit-animation-duration:0.8s;
    -webkit-animation-name:opponent-tap-attack;
  }


  .animate.block{
    -webkit-animation-duration:0.4s;
    -webkit-animation-name:attack;
  }

  #opponent_playground .animate.block{
    -webkit-animation-duration:0.4s;
    -webkit-animation-name:opponent-attack;
  }




  .animate.activate{
    -webkit-animation-duration:2s;
    -webkit-animation-name:activate;
  }

  .animate.time1{
    -webkit-animation-iteration-count: 1 !important;
  }
  .animate.time2{
    -webkit-animation-iteration-count: 2 !important;
  }
  .animate.time3{
    -webkit-animation-iteration-count: 3 !important;
  }
  .animate.time4{
    -webkit-animation-iteration-count: 4 !important;
  }
  .animate.time5{
    -webkit-animation-iteration-count: 5 !important;
  }
  .animate.time6{
    -webkit-animation-iteration-count: 6 !important;
  }
  .animate.time7{
    -webkit-animation-iteration-count: 7 !important;
  }
  .animate.time8{
    -webkit-animation-iteration-count: 8 !important;
  }
  .animate.time9{
    -webkit-animation-iteration-count: 9  !important;
  }
  .animate.time10{
    -webkit-animation-iteration-count: 10 !important;
  }

  .me.animate.hit{
    -webkit-animation-duration:0.5s;
    -webkit-animation-name:hit;
    -webkit-animation-iteration-count: 1;
  }
  .opponent.animate.hit{
    -webkit-animation-duration:0.5s;
    -webkit-animation-name:opponent-hit;
    -webkit-animation-iteration-count: 1;
  }

  .hp_5{
    -webkit-animation-duration:2s;
    -webkit-animation-name:hp_5;
    -webkit-animation-iteration-count: infinite;
  }

  #win{
    -webkit-animation-duration:3s;
    -webkit-animation-name:win;
    -webkit-animation-iteration-count: 1;
  }
  #lose{
    -webkit-animation-duration:3s;
    -webkit-animation-name:win;
    -webkit-animation-iteration-count: 1;
  }

  .animate.die{
    -webkit-animation-duration:1s;
    -webkit-animation-name:die;
    -webkit-animation-delay:0.5s;
    display:inline-block !important;
  }
  .animate.attack.die{
    -webkit-animation-duration:1s;
    -webkit-animation-name:die;
    -webkit-animation-delay:0.5s;
    display:inline-block !important;
  }

  .webkitAnimationEnd.animate.die{
    display:none !important;
  }

  #opponent_playground .animate.die{
    -webkit-animation-duration:1s;
    -webkit-animation-name:opponent-die;
    display:inline-block !important;
    -webkit-animation-delay:0.5s;
  }

  #opponent_playground .animate.attack.die{
    -webkit-animation-duration:1s;
    -webkit-animation-name:opponent-die;
    display:inline-block !important;
    -webkit-animation-delay:0.5s;
  }
  #opponent_playground  .webkitAnimationEnd.animate.die{
    display:none !important;
  }

  .animate.draw{
    -webkit-animation-duration:2s;
    -webkit-animation-name:draw;
    -webkit-transition-timing-function: linear;
  }


  @-webkit-keyframes play {
   from { transform : scale(3) translate(0px,100px)  perspective(200px) rotate3d(1, 0, 0, 20deg); }
     to { transform : scale(1); }
  }

  @-webkit-keyframes opponent-play {
   from { transform : rotate(180deg) scale(3) translate(0px,150px)  perspective(200px) rotate3d(1, 0, 0, 20deg); }
     to { transform : rotate(180deg) scale(1); }
  }

  @-webkit-keyframes tap {
   from { transform : rotate(0deg); }
     to { transform : rotate(90deg); }
  }

  @-webkit-keyframes untap {
   from { transform : rotate(90deg); }
     to { transform : rotate(0deg); }
  }

  @-webkit-keyframes hit {
    0% {transform : scale(1.1) translate(-20px,-20px)  ;  background: red;}
    50% {transform : scale(0.9) translate(10px,10px) }
    100% {}
  }

  @-webkit-keyframes opponent-hit {
    0% {transform : scale(1.1) translate(20px,20px)  ;  background: red;}
    50% {transform : scale(0.9) translate(-10px,-10px) }
    100% {}
  }

  @-webkit-keyframes hp_5 {
    50% { color:#FFCCCC}
  }

  @-webkit-keyframes attack {
    0% {}
    100% { transform: translate(0px,-15px)}
  }

  @-webkit-keyframes tap-attack {
    0% { transform: rotate(0deg) }
    40% { transform: rotate(90deg) }
    50% { transform: rotate(90deg) }
    100% { transform: rotate(90deg) translate(-25px,0px)}
  }


  @-webkit-keyframes opponent-tap-attack {
    0% { transform: rotate(180deg) }
    40% { transform: rotate(270deg) }
    50% { transform: rotate(270deg) }
    100% { transform: rotate(270deg) translate(-25px,0px)}
  }

  @-webkit-keyframes opponent-attack {
    0% { transform: rotate(180deg) translate(0px,0px) }
    100% { transform: rotate(180deg) translate(0px,-15px)}
  }

  @-webkit-keyframes die {
    0% {
    }
    80% {
        transform: rotateX(179deg) scale(0.1);
        opacity: 1;
      }

    99% {
      transform: rotate(-270deg) scale(2);
      opacity: 0;
      display:none!important;
      visibility:none!important;
    }

    100% {
      transform: scale(0.1);
      opacity: 0;
      display:none!important;
      visibility:none!important;
    }
  }

  @-webkit-keyframes opponent-die {
    0% {
      transform: rotate(180deg) ;
    }

    80% {
      transform: rotateX(-179deg) scale(0.1);
      opacity: 1;
    }

    99% {
      transform: rotate(-270deg) scale(2);
      opacity: 0;
      display:none!important;
      visibility:none!important;
    }

    100% {
      transform: scale(0.1);
      opacity: 0;
      display:none!important;
      visibility:none!important;
    }
  }

@-webkit-keyframes draw {
  0% { }
  50% {
      background : url('/card_back.jpg');
      background-size: 100px 145px;
      background-position:-3px,5px;
      transform:  rotate3d(0, 1, 0, -180deg)}
  100% { }
}


@-webkit-keyframes activate {
  0% { }
  40% { box-shadow: 0px 0px 20px 5px rgba(231,166,26,1);}
  60% { box-shadow: 0px 0px 20px 5px rgba(231,166,26,1);}
  100% { }
}

@-webkit-keyframes win {
  0% { transform:  scale(0.01) translate(0px,0px) rotate(180deg);   }
  50% { transform:   scale(3) rotate(0deg);}
  100% {}
}
