
.tapped{
  transform: rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  margin-right:16px !important  ;
  margin-left:16px !important  ;
}


.player{
  background-color:#CCC;
  width:120px;
  height:100px;
  border:1px solid black;
  border-radius: 15px;
  display:inline-block;
}

.player .name{
    background-color:#black;
    top:0px;
    border-bottom:1px solid black;
    text-align:center;
    font-weight:bold;
}
.player .health{
    color:green;
    font-size:55px;
    top:0px;
    border-bottom:1px solid black;
    text-align:center;
    font-weight:bold;
}


.turn{
  background-color:red;
  width:120px;
  height:100px;
  border:1px solid black;
  border-radius: 15px;
  display:inline-block;
}

.turn .phase{
    background-color:#black;
    top:0px;
    border-bottom:1px solid black;
    text-align:center;
    font-weight:bold;
}
.turn .number{
    color:green;
    font-size:55px;
    top:0px;
    border-bottom:1px solid black;
    text-align:center;
    font-weight:bold;
}

.card{
  background-color:yellow;
  width:215px;
  height:300px;
  border:5px solid black;
  border-radius: 10px;
  display:inline-block;
  padding:3px;
  font-size:80%;
}

.card{
  background-color:yellow;
  width:115px;
  height:150px;
  border:5px solid black;
  border-radius: 10px;
  display:inline-block;
  padding:3px;
  font-size:80%;
  position:relative;
  margin-top:2px;
}

.card .header{
  background-color:red;
  border:1px solid black;
  border-radius: 0px;
  padding-left:3px;
  font-weight:bold;
  border-radius: 5px;
  box-shadow:         0px 3px 17px 0px rgba(50, 50, 50, 0.75);
}

.card .header .cost{
  background-color:#333;
  border:1px solid black;
  border-radius: 12px;
  padding:0px;
  min-width:15px;
  font-weight:bold;
  top:2px;
  right:2px;
  text-align:center;
  position: absolute;
color:white;
}

.card .characteristics{
  background-color:#333;
  border:1px solid black;
  border-radius: 5px;
  padding:0px;
  bottom:3px;
  right:3px;
  min-width:25px;
  font-weight:bold;
  position: absolute;
  text-align:center;
  color:white;
}

.card .abilities{
  background-color:#CCC;
  border:1px solid black;
  border-radius: 5px;
  padding:0px;
  font-weight:bold;
  position: absolute;
  color:white;
  bottom:23px;
  right:3px;
}

.card .actions{
  background-color:#CCC;
  border:1px solid black;
  border-radius: 5px;
  padding:0px;
bottom:3px;
left:3px;
  font-weight:bold;
  position: absolute;
  color:white;
}

.card .header .type {
  font-weight:normal;
}

.card .image{
  background-color:black;
  border:1px solid black;
  border-radius: 0px;
  padding:3px;
  height:120px;
  margin-top : 3px;
  margin-bottom :2px;
  background-size: 115px 140px;
  border-radius: 5px;
}

.card .text{
  background-color:grey;
  border:1px solid black;
  border-radius: 0px;
  padding:3px;
  height:95px;
  margin-top : 2px;
}

.deck{
  background-image:url('card_back.jpg');

  background-size: 60px 85px;
  width:58px;
  height:75;
  border:5px solid black;
  border-radius: 10px;
  display:inline-block;
  padding:3px;
  position:relative;
  text-align:center;
}

.deck .size{
  font-size:48px;
  color:#CCC;
}


.phase {
  margin:0px;
}
.phase .selected {
  font-size:20px;
  font-weight:bolder;
}

#hand{
    position:absolute;
    bottom:0;
    width:80%;
    height:170px;
    text-align:center;
    overflow-x: hidden;
}

#deck{
    position:absolute;
    bottom:0;
    right:0;
    padding:5px;
    width:20%;
    height:100px;
    text-align:right;
    overflow-x: hidden;
}

#turn{
  position:absolute;
  bottom:0;
  right:0;
  padding:5px;
  width:20%;
  height:150px;
  overflow-x: none;
  background:red;
}

#kingdom{
    border-bottom: 1px solid black;
    position:absolute;
    bottom:171px;
    width:100%;
    height:400px;
    text-align:center;
    overflow-x: hidden;
    background-image:url('battleground.jpg');
    padding-bottom:5px;

}

#next{
  position:absolute;
  right:0px;
  bottom:0px;
}

.button a{
  color:#DDD;
}

.button{
  font-size:30px;
  background-color:green;
  border: 2px solid #DDD;
  padding:4px;
  border-radius: 15px;
  display:inline-block;
  position:absolute;
  margin : 3px;
}

body{
  margin:0;
  background-image:url('star.jpg');
}
a{
  text-decoration:none;
}
