
#auto{
  position:absolute;
  top:0;
  left:0;
z-index:100;
  height:150px;
  width:150px;
}

#next{
  z-index:200;
  position:absolute;
  top:5;
  font-size:150%;
  right:150;
  padding:15px;
  /*height:150px;*/
  /*width:150px;*/
  background-color:red;
}


#turn{
  position:absolute;
  top:5;
  right:5;
  padding:5px;
  width:120px;
  overflow-x: none;
  background:green;
}


#me{
  position:absolute;
  top:50;
  left:5;
  padding:5px;
  /*width:120px;*/
  overflow-x: none;
  background:green;
}


#opponent{
  position:absolute;
  top:5;
  left:5;
  padding:5px;
  /*width:120px;*/
  overflow-x: none;
  background:lightgrey;
}


#opponent_playground .card{
  transform: rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}


#my_playground{
  background-color:green;
  height:100%;
  width:100%;
  vertical-align:bottom;
  position:relative;
  /*overflow:none;*/
  overflow-x:auto;
  padding-top:15px;
  background-image: url('battleground.jpg');

/*transform: rotateX(30deg);*/
}
#playground td{
  padding:0;
  margin:0;
}
#playground {

  background : white;
  width : 100%;
  height: 100%;
  text-align:center;
  /*transform: rotateX(38deg);*/
background-image: url('battleground.jpg');
  /*margin-top:-2%;*/
border-spacing: 0px;
border: 0px;


}

#logs{
  width : 300px;
  max-height: 400px;
  overflow-x:auto;
  position:absolute;
  bottom:0px;
  right:0px;
  z-index:100;
  background-color:#CCC;
  border:1px solid black;
}



#hand .card{
  -webkit-box-shadow: 0px 0px 50px 0px black;
  -moz-box-shadow:    0px 0px 50px 0px black;
  box-shadow:         0px 0px 50px 0px black;
  border:5px solid black;
}

#hand{
  height: 148px;
  text-align:center;
  position:absolute;
  bottom:0px;
  /*display: block;*/
  /*margin-left: auto;*/
  /*width:100%;*/
  /*padding-top:50px;*/
overflow-y: auto;
  /*background-color:blue;*/
  /*transform: rotateX(-20deg);*/
  z-index:100;
}

#opponent_playground{
  height:100%;
  width:100%;
  vertical-align:bottom;
  position:relative;
  overflow-x:auto;
  /*padding-bottom:15px;*/
}


#opponent_playground .card.tapped{
  transform: rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
}

#opponent_playground_tr{
  background-image: url('battleground.jpg');
}

#my_playground_tr{
  background-image: url('battleground.jpg');
}




.tapped{
  transform: rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  margin-right:16px !important  ;
  margin-left:16px !important  ;
}






.lands{
  background-color:blue;
  height:100%;
  width:100%;
}




* {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
}

.card{
  height:140px;
  width:110px;
  /*border-radius: 10px;*/
  display:inline-block;
  /*padding:3px;*/
  position:relative;
  background-color:red;
  border:2px solid black;
  text-align:left;
  margin:2px;
  border-radius: 5px;
}


.card .header{
  width:100%;
  background-color:red;
  border:0px solid black;
  padding-left:3px;
  /*font-weight:bold;*/
  border-radius: 5px;
  overflow:none;
  height:24px;
  position:absolute;
  top:0px;
  /*box-shadow:         0px 3px 17px 0px rgba(50, 50, 50, 0.75);*/
}

.card .header .cost{
  background-color:#333;
  border:1px solid black;
  border-radius: 12px;
  padding:0px;
  min-width:18px;
  font-weight:bold;
  top:-1px;
  right:-1px;
  text-align:center;
  position: absolute;
  color:white;
}

.card .characteristics{
  background-color:#333;
  border:1px solid black;
  border-radius: 5px;
  padding-left:2px;
  padding-right:2px;
  bottom:0px;
  right:0px;
  min-width:25px;
  font-weight:bold;
  position: absolute;
  text-align:center;
  color:white;
}

.card .abilities{
  bottom:20px;
  right:0px;
  position: absolute;
  width:20px;
  max-height:100px;
  vertical-align:bottom;
  text-align:right;
}

.card .abilities img{
  background-color:#CCC;
  border:1px solid black;
  border-radius: 5px;
  height:16px;
}


.card .actions{
  bottom:0px;
  left:0px;
  position: absolute;
  width:30px;
  max-height:124px;
  vertical-align:bottom;
}


.card .actions img{
  background-color:#CCC;
  border:1px solid black;
  border-radius: 5px;
  height:20px;
}

.card .actions img:hover{
  background-color:yellow;
}


.card .image{
  background-color:black;
  height:116px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  background-size: 116px 116px;
  position:absolute;
  top:20px;
  width:100%;
}

body{
  margin:0;
  /*background-image:url('star.jpg');*/
  perspective: 1500px;
  perspective-origin: top;
  overflow:hidden;
}
a{
  text-decoration:none;
}


.turn{
  background-color:red;
  width:120px;
  height:100px;
  border:1px solid black;
  border-radius: 15px;
  display:inline-block;
}

.turn .phase{
    background-color:#black;
    top:0px;
    border-bottom:1px solid black;
    text-align:center;
    font-weight:bold;
}
.turn .number{
    color:green;
    font-size:55px;
    top:0px;
    border-bottom:1px solid black;
    text-align:center;
    font-weight:bold;
}


.button a{
  color:#DDD;
}

.button{
  font-size:30px;
  background-color:green;
  border: 2px solid #DDD;
  padding:4px;
  border-radius: 15px;
  display:inline-block;
  position:absolute;
  margin : 3px;
}

.phase {
  margin:0px;
}
.phase .selected {
  font-size:20px;
  font-weight:bolder;
}

.playing{
  color:white;
  background:blue;
  font-weight:bold;
  width:100%;
  font-size:150%;
  padding:5px;
}
