
#auto{
  position:absolute;
  top:0;
  left:0;
z-index:100;
  height:150px;
  width:150px;
}

#next{
  z-index:200;
  position:absolute;
  top:5;
  font-size:150%;
  right:150;
  padding:15px;
  /*height:150px;*/
  /*width:150px;*/
  background-color:red;

}
#next a{
  color:white;
  font-weight:bold
}

#additional_action{
  z-index:200;
  position:absolute;
  top:80;
  font-size:150%;
  right:150;
  padding:15px;
  background-color:blue;
}

#additional_action a{
  color:white;
  font-weight:bold
}

#turn{
  position:absolute;
  top:5;
  right:5;
  padding:5px;
  width:120px;
  overflow-x: none;
  background:green;
}


#me{
  position:absolute;
  bottom:155;
  left:5;
  padding:5px;
  z-index:100;
  font-size:115%;
  overflow-x: none;
  background:green;

}


#opponent{
  position:absolute;
  top:5;
  left:5;
  padding:5px;
  z-index:100;
  font-size:115%;
  overflow-x: none;
  background:green;
}

#cancel{
  position:absolute;
  top:10;
  right:5;
  padding:5px;
  /*width:120px;*/
  overflow-x: none;
  background:yellow;

}



#opponent_playground .card{
  transform: rotate(180deg);
  -moz-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}


#my_playground{
  background-color:green;
  height:100%;
  width:100%;
  vertical-align:bottom;
  position:relative;
  /*overflow:none;*/
  overflow-x:auto;
  padding-top:15px;
  background-image: url('battleground.jpg');

/*transform: rotateX(30deg);*/
}
#playground td{
  padding:0;
  margin:0;
}
#playground {

  background : white;
  width : 100%;
  height: 100%;
  text-align:center;
  /*transform: rotateX(38deg);*/
background-image: url('battleground.jpg');
  /*margin-top:-2%;*/
border-spacing: 0px;
border: 0px;
}

#lose{
  top:10px;
  left:0px;
  width :100%;
  text-align :center;
  /*height :100%;*/
  position:absolute;
  z-index:1000;
  font-size:500%;
  background-color:red;
}


#win{
  top:10px;
  left:0px;
  width :100%;
  text-align :center;
  /*height :100%;*/
  position:absolute;
  z-index:1000;
  font-size:500%;
  background-color:lightgreen;
}
.hp {
  font-size:200%;
  font-weight:bold;
  color:white;
}
.hp_5 {
  color:#610B0B;
}

.hp_10 {
  color:#FF0000;
}

.hp_15 {
  color:#F6CECE;
}

#logs{
  width : 50px;
  max-height: 200px;
  overflow:auto;
  position:absolute;
  bottom:0px;
  right:0px;
  z-index:50;
  background-color:#CCC;
  border:1px solid black;
  opacity:0.25;
  padding:3px;

/*z-index:50;*/
opacity:0.50;
height: 400px;
width: 300px;
overflow-x:auto;
}


/*#logs:hover{
  overflow-x:auto;
  z-index:500;
  opacity:0.75;
  height: 400px;
  width: 300px;
  bottom:0;
}*/


#logs:hover{
  z-index:500;
  opacity:0.90;
}




#hand .card{
  border:5px solid black;
  height:145px;
}

#hand{
  height: 150px;
  text-align:center;
  position:absolute;
  bottom:0px;
  /*display: block;*/
  /*margin-left: auto;*/
  width:100%;
  /*padding-top:50px;*/
overflow-y: auto;
  /*background-color:blue;*/
  /*transform: rotateX(-20deg);*/
  z-index:100;
}

#opponent_playground{
  height:100%;
  width:100%;
  vertical-align:bottom;
  position:relative;
  overflow-x:auto;
  /*padding-bottom:15px;*/
}


#opponent_playground .card.tapped{
  transform: rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -webkit-transform:rotate(270deg);
}

#opponent_playground_tr{
  background-image: url('battleground.jpg');
}

#my_playground_tr{
  background-image: url('battleground.jpg');
}




.tapped{
  transform: rotate(90deg) !important  ;
  -moz-transform:rotate(90deg) !important  ;
  -o-transform:rotate(90deg) !important  ;
  -webkit-transform:rotate(90deg) !important  ;
  margin-right:16px !important  ;
  margin-left:16px !important  ;
}


.blocking{
  transform: rotate(10deg);
  -moz-transform:rotate(10deg);
  -o-transform:rotate(10deg);
  -webkit-transform:rotate(10deg);
}







.lands{
  background-color:blue;
  height:100%;
  width:100%;
}




* {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;
}

.card{
  height:140px;
  width:110px;
  /*border-radius: 10px;*/
  display:inline-block;
  /*padding:3px;*/
  position:relative;
  background-color:red;
  border:2px solid black;
  text-align:left;
  margin:2px;
  border-radius: 5px;
}


.card .header{
  width:100%;
  background-color:red;
  border:0px solid black;
  padding-left:3px;
  /*font-weight:bold;*/
  border-radius: 5px;
  overflow:none;
  height:24px;
  position:absolute;
  top:0px;
  text-align:left;
  /*box-shadow:         0px 3px 17px 0px rgba(50, 50, 50, 0.75);*/
}


.card .header span{
  text-align:center;
}

.card .header .cost{
  background-color:#333;
  border:1px solid black;
  border-radius: 12px;
  padding:0px;
  min-width:18px;
  font-weight:bold;
  top:-1px;
  right:-1px;
  text-align:center;
  position: absolute;
  color:white;
}

.card .characteristics{
  background-color:#333;
  border:1px solid black;
  border-radius: 5px;
  padding-left:2px;
  padding-right:2px;
  bottom:0px;
  right:0px;
  min-width:25px;
  font-weight:bold;
  position: absolute;
  text-align:center;
  color:white;
}

.card .abilities{
  bottom:20px;
  right:0px;
  position: absolute;
  width:20px;
  max-height:100px;
  vertical-align:bottom;
  text-align:right;
}

.card .abilities img{
  background-color:#CCC;
  border:1px solid black;
  border-radius: 5px;
  height:16px;
}


.card .actions{
  bottom:0px;
  left:0px;
  position: absolute;
  width:30px;
  max-height:124px;
  vertical-align:bottom;
}


.card .actions img{
  background-color:#CCC;
  border:1px solid black;
  border-radius: 5px;
  height:20px;
}

.card .actions img:hover{
  background-color:yellow;
}


.card .image{
  background-color:black;
  height:116px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  background-size: 116px 116px;
  position:absolute;
  top:20px;
  width:100%;
}

body{
  margin:0;
  /*background-image:url('star.jpg');*/
  perspective: 1500px;
  perspective-origin: top;
  overflow:hidden;
/*background-image: url('battleground.jpg');*/
/*background-color:green;*/
}
a{
  text-decoration:none;
}


.turn{
  background-color:red;
  width:120px;
  height:100px;
  border:1px solid black;
  border-radius: 15px;
  display:inline-block;
}

.turn .phase{
    background-color:#black;
    top:0px;
    border-bottom:1px solid black;
    text-align:center;
    font-weight:bold;
}
.turn .number{
    color:green;
    font-size:55px;
    top:0px;
    border-bottom:1px solid black;
    text-align:center;
    font-weight:bold;
}


.button a{
  color:#DDD;
}

.button{
  font-size:30px;
  background-color:green;
  border: 2px solid #DDD;
  padding:4px;
  border-radius: 15px;
  display:inline-block;
  position:absolute;
  margin : 3px;
}

.phase {
  margin:0px;
}
.phase .selected {
  font-size:20px;
  font-weight:bolder;
}

#turn.playing{
  background:green;
}

#turn.not_playing{
  background:#666;
}

.target{
  border:5px solid blue;
}
